---
import path from 'path';
import { readFileSync } from 'fs';

import Layout from '../layouts/Layout.astro';
import ProgressCard from '../components/ProgressCard.astro';
import Video from '../components/Video.astro';
import GoFundMeLogo from '../assets/gofundme-logo.svg';
import StravaLogo from '../assets/strava-logo.svg';
import CurrentLocation from '../components/CurrentLocation.tsx';
import Papa from 'papaparse';
import Card from '../components/Card';
import { Image } from 'astro:assets';

import tshirtImage from '../assets/tshirt.webp';
import ButtonLink from '../components/ButtonLink';

const csvFilePath = path.resolve('./src/content/schedule.csv');
const csvFileContent = readFileSync(csvFilePath, 'utf8');


    const links = [
      {
        title: 'Instagram',
        url: 'https://www.instagram.com/ryan.keeping/',
        icon: 'instagram-logo.svg'
      },
      {
        title: 'YouTube',
        url: 'https://www.youtube.com/@ryan.keeping',
        icon: 'youtube-logo.svg'
      },
      {
        title: 'TikTok',
        url: 'https://www.tiktok.com/@ryankeeping',
        icon: 'tiktok-logo.svg'
      },
      {
        title: 'Facebook',
        url: 'https://www.facebook.com/profile.php?id=100086981121661',
        icon: 'facebook-logo.svg'
      }
    ];

type Dates = {
    day: string;
    date: Date;
    distance: number;
    start: string;
    startProvince: string;
    end: string;
    endProvince: string;
    description?: string;
    accomodations?: string;
};

const schedule = Papa.parse<Dates>(csvFileContent, { header: true, dynamicTyping: true,  
    transform: (value, field) => {
    if (field === 'date') {
      return new Date(value);
    }
    return value;
  }, 
}).data;


---
<Layout title="Schedule" frontmatter={{ title: '', content: { links } }}>


<Card title="Group Run" featured>
<strong>Toronto Music Garden, Toronto, ON</strong>
<strong>Thursday, May 9 @ 7:30 PM</strong>
<p>
  Come out and join me for a 5k group run in Toronto! Everyone is welcome!
</p>
</Card>

<!-- <Video url="https://www.youtube.com/embed/qstjFg0lWoE?si=Nbo-pXfuIgw_JxT3" /> -->
<CurrentLocation client:load schedule={schedule} />

<Card>
  <Image src={tshirtImage} alt="Coast to coast black t-shirt" style="width: min(75%, 300px); height: auto; margin: auto" />
  <p style="font-style: italic; font-size: 0.8rem">
    80% of the proceeds will go to the Heart & Stroke Foundation and 20% will help support my run.
  </p>
  <ButtonLink href='https://eastcoastlifestyle.com/collections/coast-to-coast-tees' color='rgb(var(--accent))' textColor='#fff' external>
    Order a T-Shirt!
  </ButtonLink>
</Card>


{/* TODO: pull stats out into content doc */}
<ProgressCard
  title="Support My Cross-Canada Run"
  icon={{ src: GoFundMeLogo, alt:"Go Fund Me" } as any}
  progress={{
    current: 70_791,
    total: 100_000,
    unit: "CAD"
  }}
  cta="Donate Now"
  href='https://www.gofundme.com/f/ryans-crosscanada-run'
  color="#02A95C"
>
<p>
  On April 1st I started running across Canada raising money for the <strong>Heart & Stroke Foundation</strong>.
</p>
<p>
  Help fund my run and support a great cause. 🇨🇦 🏃🏼
</p>
</ProgressCard>
<ProgressCard
  title="Total Distance"
  icon={{ src: StravaLogo, alt:"Strava" } as any}
  progress={{
    current: 2_850,
    total: 7_386,
    unit: "kilometers"
  }}
  cta="Follow my progress"
  href='https://www.strava.com/athletes/52922322'
  color="#FC6100"
>
<p>
  I'm running 75KM every day for 99 days, making my way from St John's, NL to Victoria, BC.
</p>
<p>
  Follow my runs on Strava!
</p>
</ProgressCard>
</Layout>