---
import Layout from "../layouts/Layout.astro";

import Card from "../components/Card";

import ButtonLink from "../components/ButtonLink";
import Snow from "../components/Snow.astro";

const links = [
  {
    title: "Instagram",
    url: "https://www.instagram.com/ryan.keeping/",
    icon: "instagram-logo.svg",
  },
  {
    title: "YouTube",
    url: "https://www.youtube.com/@ryan.keeping",
    icon: "youtube-logo.svg",
  },
  {
    title: "TikTok",
    url: "https://www.tiktok.com/@ryankeeping",
    icon: "tiktok-logo.svg",
  },
  {
    title: "Facebook",
    url: "https://www.facebook.com/profile.php?id=100086981121661",
    icon: "facebook-logo.svg",
  },
];
---

<Layout title="Schedule" frontmatter={{ title: "", content: { links } }}>
  <Snow />
  <!-- <div class="map-wrapper">
    <iframe class="map" src="https://www.google.com/maps/d/u/0/embed?mid=170SzhXeZrswCHH2bN_bkPN0Aj4n1wY4&ehbc=2E312F&noprof=1"></iframe>
  </div> -->
  <img
    src="/ryan-keeping-santa.webp"
    alt="HO HO 250K - I'm running 250KM dressed as Santa"
    class="banner"
  />
  <div class="two-col">
    <Card>
      <div style="display: grid; gap: 0.7rem">
        <h2>HO HO 250K - I'm running 250KM dressed as Santa</h2>
        <p>
          My name is Ryan Keeping, and I'm an ultra marathon runner from Nova
          Scotia who is passionate about running and helping others. This
          holiday season, I am combining my passions with the aim of bringing
          some Christmas cheer to families in need.
        </p>
        <p>
          To achieve this, I am hosting a fundraiser run, during which I will be
          running laps around the Halifax Commons until I reach my goal distance
          of 250km. The event will take place December 21st, starting at 6:00
          am.
        </p>
        <p>
          The majority of the proceeds from your donations (90%) will go to the
          Ronald McDonald House Atlantic. This organization aims to make
          families feel at home, even when they can't be - and although there's
          no place like home for the holidays, your donation can go a long way
          in helping families have a Merry Christmas as they receive the care
          they need. The other 10% of donations will be used to fund the event.
        </p>
        <p>
          If you are able, please consider making a donation to help me reach my
          goal of raising $10,000 for this charity.
        </p>
        <p>
          If you're not in a position to donate, there are other ways you can
          help! Come join me at the Commons for a few laps, or share the content
          I will be creating to promote the event on your social media.
        </p>
        <p>
          Thank you to everyone for your support as I take on this goal to
          ensure every child receives a gift this holiday season.
        </p>

        <p>Flip the switch!</p>
        <p>Ryan</p>

        <img
          src="/rmhc.webp"
          alt="Ronald McDonald House Charities, Atlantic"
          style="width: 100%; max-width: 350px; height: auto; margin: 0 auto;"
        />
      </div>
      <ButtonLink
        color="#02A95C"
        textColor="#fff"
        href="https://www.gofundme.com/f/ho-ho-250k-im-running-250km-dressed-as-santa"
        >Donate!</ButtonLink
      >
      <ButtonLink
        color="#FC6100"
        textColor="#fff"
        href="https://www.strava.com/athletes/52922322"
        >Follow me on Strava</ButtonLink
      >
    </Card>

    <div
      class="gfm-embed"
      data-url="https://www.gofundme.com/f/ho-ho-250k-im-running-250km-dressed-as-santa/widget/large?sharesheet=fundraiser sidebar&attribution_id=undefined"
    >
    </div><script defer src="https://www.gofundme.com/static/js/embed.js"
    ></script>
  </div>
</Layout>

<style>
  .two-col {
    align-items: start;
    align-content: start;

    display: grid;
    grid-template-columns: 1fr auto;
    gap: 2rem;

    > * {
      position: sticky;
      top: 5rem;
    }

    @media (max-width: 700px) {
      grid-template-columns: 1fr;

      > * {
        top: 0;
        position: relative;
      }
    }
  }

  .gfm-embed {
    /* mix-blend-mode: multiply; */
    border-radius: 0.5rem;
    overflow: hidden;

    iframe {
      border: none;
      width: 100%;
      min-height: 450px;
      padding: 0;
      margin: 0;
      display: block;

      @media (max-width: 700px) {
        min-height: calc(400px + 20vw);
      }
    }
  }

  .map-wrapper {
    overflow: hidden;
    padding-bottom: 60%;
    position: relative;
    height: 0;
    background: #f5f5f5;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(var(--text-color), 0.2);
    @media (max-width: 700px) {
      padding-bottom: 80%;
    }
    @media (max-width: 500px) {
      padding-bottom: 100%;
    }
  }

  .map {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    border: 0;
  }

  .banner {
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(var(--text-color), 0.2);
  }
</style>
