---
import path from 'path';
import { readFileSync } from 'fs';

import Layout from '../layouts/Layout.astro';
import ProgressCard from '../components/ProgressCard.astro';
import Video from '../components/Video.astro';
import GoFundMeLogo from '../assets/gofundme-logo.svg';
import StravaLogo from '../assets/strava-logo.svg';
import CurrentLocation from '../components/CurrentLocation.tsx';
import Papa from 'papaparse';
import Card from '../components/Card';
import { Image } from 'astro:assets';

import tshirtImage from '../assets/tshirt.webp';
import ButtonLink from '../components/ButtonLink';

const csvFilePath = path.resolve('./src/content/schedule.csv');
const csvFileContent = readFileSync(csvFilePath, 'utf8');


    const links = [
      {
        title: 'Instagram',
        url: 'https://www.instagram.com/ryan.keeping/',
        icon: 'instagram-logo.svg'
      },
      {
        title: 'YouTube',
        url: 'https://www.youtube.com/@ryan.keeping',
        icon: 'youtube-logo.svg'
      },
      {
        title: 'TikTok',
        url: 'https://www.tiktok.com/@ryankeeping',
        icon: 'tiktok-logo.svg'
      },
      {
        title: 'Facebook',
        url: 'https://www.facebook.com/profile.php?id=100086981121661',
        icon: 'facebook-logo.svg'
      }
    ];

type Dates = {
    day: string;
    date: Date;
    distance: number;
    start: string;
    startProvince: string;
    end: string;
    endProvince: string;
    description?: string;
    accomodations?: string;
};

const schedule = Papa.parse<Dates>(csvFileContent, { header: true, dynamicTyping: true,  
    transform: (value, field) => {
    if (field === 'date') {
      return new Date(value);
    }
    return value;
  }, 
}).data;


---
<Layout title="Schedule" frontmatter={{ title: '', content: { links } }}>
  <div class="map-wrapper">

    <iframe class="map" src="https://www.google.com/maps/d/u/0/embed?mid=170SzhXeZrswCHH2bN_bkPN0Aj4n1wY4&ehbc=2E312F&noprof=1"></iframe>
  </div>
  <div class="two-col">
<Card>
  <div style="display: grid; gap: 0.7rem">

    <h2>PEI Tip 2 Tip in 46 hours</h2>
    <p>
      This year, I ran across Canada in 99 days and raised $286,000 for the Heart & Stroke Foundation. 
    </p>
    <p>
      PEI was the only province left out of my run due to scheduling limitations. Now, a few months later, <b>I will be running the entire length of PEI on the Confederation Trail from Elmira to Tignish, starting Monday, September 2nd, 2024 at 8:00 AM.</b>
    </p>
    <p>
      The goal of this run is to set the new FKT (Fastest Known Time). <b>The current record, held by Jeremy Bradford, is 46 hours and 26 minutes</b>.
    </p>
    <p>
      I expect this run to cost approximately $2,500, including funds for food, gas, bridge fare, and lodging.
    </p>
    <p>
      
      This GoFundMe is not associated with any charity - all donations will be used to make this run a possibility. If you are able and willing to donate, any help would be much appreciated.
    </p>
  </div>
    <ButtonLink   color="#02A95C" textColor='#fff' href='https://www.gofundme.com/f/pei-tip-2-tip-the-final-province-274km'>Support my run</ButtonLink>
    <ButtonLink color='#FC6100' textColor='#fff' href='https://www.strava.com/athletes/52922322'>Follow me on Strava</ButtonLink>
</ProgressCard>

<div class="gfm-embed" data-url="https://www.gofundme.com/f/pei-tip-2-tip-the-final-province-274km/widget/large?sharesheet=fundraiser sidebar&attribution_id=undefined"></div><script defer src="https://www.gofundme.com/static/js/embed.js"></script>
</div>
</Layout>

<style>
  .two-col {
    align-items: start;
    align-content: start;

    display: grid;
    grid-template-columns: 1fr auto;
    gap: 2rem;

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }

  .gfm-embed {
mix-blend-mode: multiply;

  }

  .map-wrapper {
    overflow:hidden;
    padding-bottom:60%;
    position:relative;
    height:0;
    background: #f5f5f5;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(var(--text-color), 0.2);
    @media (max-width: 700px){
      padding-bottom: 80%;
    }
    @media (max-width: 500px){
      padding-bottom: 100%;
    }
  }

  .map {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    border: 0;
    
  }
</style>