---
import { readFileSync } from 'fs';
import path from 'path';
import Papa from 'papaparse';
import Layout from '../layouts/PageLayout.astro';

const csvFilePath = path.resolve('./src/content/schedule.csv');
const csvFileContent = readFileSync(csvFilePath, 'utf8');

type Dates = {
    day: string;
    date: Date;
    distance: number;
    location: string;
};

const results = Papa.parse<Dates>(csvFileContent, { header: true, dynamicTyping: true,  
    transform: (value, field) => {
    if (field === 'date') {
      return new Date(value);
    }
    return value;
  }, 
}).data;

const formatDate = new Intl.DateTimeFormat('en-CA', {
    day: 'numeric',
    month: 'short',
    timeZone: 'UTC'
  }).format;
  const formatDistance = Intl.NumberFormat('en-CA', {
    maximumFractionDigits: 2,
    unit: 'kilometer',
    style:'unit'
  }).format;
---

<Layout title="Schedule">

  <!-- <div style="display: grid; gap: 0.5rem"> -->
      <h1>Route</h1>
      <p>
          If you're interested in running with me, please reach out to me on social media. I'd love 
          to have you join me for a few kilometers!
      </p>
      <div class="map-wrapper">
        <iframe class="map" src="https://www.google.com/maps/d/embed?mid=12UZNrnrmQcCb24rqpwa1s5vwLpSNGuQ&ehbc=2E312F"></iframe>
      </div>
      <p style="font-size: 0.8rem; font-style: italic">
        Note: Not all locations are marked on the map. Please refer to the schedule below for more details.
      </p>
      <br />
      <h2>Schedule</h2> 
      <div class="scrollable-table">
            <table>
                <thead>
                    <tr>
                        <th>Day</th>
                        <th>Date</th>
                        <th>Total Distance</th>
                        <th>Location</th>
                    </tr>
                </thead>
                <tbody>
                    {results.map((row) => (
                        <tr>
                            <td>{row.day}</td>
                            <td>{formatDate(row.date)}</td>
                            <td>{formatDistance(row.distance)}</td>
                            <td>{row.location}</td>
                            </tr>
                            ))}
                </tbody>
            </table>
        </div>
    <!-- </div> -->
  <style>

    .scrollable-table {
        display: grid;
        overflow-x: auto;
        padding: 1rem 0;
    }
    table {
      width: 100%;
      /* width: max-content; */
      border-collapse: collapse;
    }

    th {
        text-transform: uppercase;
        font-size: 0.7rem;
        text-align: left;
    }

    thead {
      background-color: rgb(var(--text-color), 0.1);
    }

    th, td {
      border-top: 1px solid rgb(var(--text-color), 0.2);
      padding: 0.75rem 0.5rem;
    }

    td {
        white-space: nowrap;
        font-size: 0.8rem;
    }

    .map-wrapper {
      overflow:hidden;
      padding-bottom:60%;
      position:relative;
      height:0;
      background: #f5f5f5;
      @media (max-width: 700px){
        padding-bottom: 80%;
      }
      @media (max-width: 500px){
        padding-bottom: 100%;
      }
    }

    .map {
      left:0;
      top:0;
      height:100%;
      width:100%;
      position:absolute;
      border: 0;
    }
  </style>
</Layout>