---
import { readFileSync } from 'fs';
import path from 'path';
import Papa from 'papaparse';
import Layout from '../layouts/PageLayout.astro';

const csvFilePath = path.resolve('./src/content/schedule.csv');
const csvFileContent = readFileSync(csvFilePath, 'utf8');

type Dates = {
    day: string;
    date: Date;
    distance: number;
    location: string;
};

const results = Papa.parse<Dates>(csvFileContent, { header: true, dynamicTyping: true,  
    transform: (value, field) => {
    if (field === 'date') {
      return new Date(value);
    }
    return value;
  }, 
}).data;

const formatDate = new Intl.DateTimeFormat('en-CA', {
    day: 'numeric',
    month: 'short',
    timeZone: 'UTC'
  }).format;
  const formatDistance = Intl.NumberFormat('en-CA', {
    maximumFractionDigits: 2,
    unit: 'kilometer',
    style:'unit'
  }).format;
---

<Layout title='Schedule'>

    <h1>Schedule</h1>
    <div>

        <p>
            Here's where I'll be on each day of the run.
        </p>
        <p>
            If you're interested in running with me, please reach out to me on social media. I'd love 
            to have you join me for a few kilometers!
        </p>
        <table>
            <thead>
                <tr>
                    <th>Day</th>
                    <th>Date</th>
                    <th>Total Distance</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody>
                {results.map((row) => (
                    <tr>
                        <td>{row.day}</td>
                        <td>{formatDate(row.date)}</td>
                        <td>{formatDistance(row.distance)}</td>
                        <td>{row.location}</td>
                    </tr>
                ))}
        </tbody>
    </table>
</div>
  <style>
      table {
      width: 100%;
      border-collapse: collapse;
    }

    th {
        text-transform: uppercase;
        font-size: 0.8rem;
        text-align-last: left;
    }

    th, td {
      border-top: 1px solid rgb(var(--text-color), 0.2);
      padding: 0.5rem;
    }
  </style>
</Layout>