---
type Props = {
    href: string;
    external?: boolean;
    color?: string;
    textColor?: string;
}

const { external, color = '#eee', textColor = '#111', href } = Astro.props;
---

<a 
    class="button-link" 
    style={`--button-color: ${color}; --button-text-color: ${textColor}`}
    href={href} 
    target={external ? '_blank' : undefined}
    rel={external ? 'noopener noreferrer' : undefined}
>
    <slot />
</a>

<style>
    .button-link {
        display: inline-block;
        text-decoration: none;
        font-size: 0.8rem;
		padding: 1.5em;
		border-radius: 0.25rem;
        text-transform: uppercase;
        font-weight: 600;
        text-align: center;
		background-color: var(--button-color, #eee);
		color: var(--button-text-color, #111);
    }