---
import { fade, ViewTransitions } from 'astro:transitions'
import { Amplitude } from 'astro-analytics'
import { SITE_NAME, DESCRIPTION, SHARE_IMAGE } from '../../src/config'
import Nav from '../components/Nav.astro';
import Card from '../components/Card.astro';

interface Props {
	title: string;
}

// @ts-ignore - TODO figure otu type safety on this
const { frontmatter, title } = Astro.props

const pageTitle = (title || frontmatter?.title) + ' | ' + 'Ryan Keeping'

---

<!doctype html>
<html 
	lang="en"
	transition:animate={fade({ duration: '1s' })}
>
	<head>
		<meta charset="UTF-8" />
		<meta name="image" property="og:image" content={ SHARE_IMAGE }>
		<meta name="description" content={ DESCRIPTION } />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{ pageTitle }</title>
		<Amplitude apiKey="79bc9714968c39042ba3ec00ed5f0ed9" />
		<ViewTransitions />
	</head>
	<body>
		<div class="container">
            <Nav />
			<Card>
				<main>
					<slot />
				</main>
			</Card>
			
			<footer>
				<p>&copy; {new Date().getFullYear()} {SITE_NAME}</p>
			</footer>
		</div>
	</body>
	</html>
	<style is:global>
		:root {
			--text-color: 255, 255, 255;
		--background-color: 25, 25, 30;
		--accent: 180, 6, 14;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}

	html {
		background-image: url('../assets/canada-map.svg');
		background-color: #f5f5f5;
		background-size: 1200px;
		background-position: center;
	}
	body {
		font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		color: rgb(var(--text-color));
		background: rgb(var(--background-color));
		margin: 0;
		box-sizing: border-box;

		background-image: linear-gradient(
			170deg,
			rgba(var(--accent), 1) 0,
			rgba(var(--accent), 1) 33rem,
			rgba(var(--accent), 0.5) 33rem,
			rgba(var(--accent), 0.5) calc(33rem + 1rem),
			#f5f5f500 calc(33rem + 1rem)
		);

		background-size: 4000px;
		background-position: center 0;

		background-color: #f5f5f5;
		--text-color: 0, 0, 0;
	}

	*, *:before, *:after {
		box-sizing: inherit;
	}

	.container {
		display: grid;
		min-height: 100vh;
		max-width: 840px;
		margin: auto;
		padding: 2rem 1rem;
		padding-top: 5rem;
		gap: 2rem;
		grid-template-rows: 1fr auto;
	}

	main {
		display: grid;
		gap: 0rem;
		align-items: start;
		align-content: center;
	}

	footer {
		text-align: center;
		color: rgba(var(--text-color), 0.75);
		font-size: 0.8rem;
	}

	h1, h2 {
		margin: 0;
	}

    .link {
        max-width: 400px;
		border-radius: 5px;
		font-weight: 600;
		font-size: 1.2rem;
		text-align: center;
		color: #fff;
		text-decoration: none;
		display: block;
        margin: 2rem 0;
		background-color: rgba(var(--accent), 0.9);
		padding: 1em 2em;
		transition: background-color 0.2s ease-in-out;
		&:focus {
			outline: 1px solid rgb(var(--text-color));
			outline-offset: 2px;
		}

		&:hover {
			background-color: rgba(var(--accent), 1);
		}

	}
	
</style>
